#banner{
    height: 125px;
    background: #2F2F4F;
    text-align: center;
    margin: auto 0;
   color: white;
   font-size: 26px;
   font-weight: bold;
}

#nytBanner{
    padding-top: 50px;
}

#searchparameters{
    background: grey;
    height: 25px;
}